TGSProject/Library/
TGSProject/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
TGSProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TGSProject/.vs/TGSProject/v16/.suo
TGSProject/Assembly-CSharp.csproj
